*{
    outline: solid red 1px;
}

:root{
    
    font-size: 18pt;
}

main{

    width: 40vw;
    margin-top:60px;
    background-color:darkseagreen;
}

main div{
    position: relative;
    
}



.guy{
    position:relative;
    max-width: 100px;
    right:12;
    bottom:0;
    left: 540px;
    
}

.football{
    position:relative;
    max-width: 25px;
    right:0px;
    bottom:100px;
    left: 540px;
    
}

header{
    background-color: burlywood;
    padding: 50px;
    font-size: 30pt;
    
    width:100%;
    
}


.chat{
    position:fixed;
    width: 100px;
    height: 100px;
    top:0px;
    z-index: 2;
    top: 100px;
    transform:translate(1100px, 500px);
}

.lemur{
    width: 50%;
    height: 50%;
    position:relative;
    transform: translate(670px, 200px)
}

main div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div:nth-of-type(1) div{
    width: 57%;
    align-self:flex-start;
}