/*
*{
    outline: 10px solid #bd793e54;
    
}
*/
body{
    background-color: antiquewhite;
}

Header {
    background-color: rgb(207, 132, 58);
    font-size: 23pt;
    text-align: center;
    padding: 70px 70px 70px 70px;
    }

nav {
    background-color: #bd793e54;
    text-align: center;
    padding: 30px 03px 30px 30px;
    
    
    
}

 main{
    text-align: center;
    padding: 0px 10vw;
 }

 img{
    width: 75%;
 }

nav > a {
    margin-right: 29px;
    margin-left: 39px;
}

a {
    color: rgb(103, 84, 60);
    font-size: 30pt;
}

h1 {
    color: rgb(103, 84, 60);
}

p{
    color: rgb(103, 84, 60);
    font-size: 24px;
}

header > h1{

    color: rgb(103, 84, 60);  

}

footer {
    background-color: rgb(255, 174, 174);  /*mustafa hates this color*/
    color:rgb(207, 132, 58);
    min-height: 10px;
    text-align: center;
}

footer>p {
    color:antiquewhite;
}

*{
    font-family: "r41-clerville", sans-serif;
font-weight: 400;
font-style: italic;
}

body > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}