:root{
    font-size:20.12398129pt;
}

.box{
    width: 150px;
    height: 150px;

    background-color:blanchedalmond;

    outline: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

}

div:nth-of-type(1){
    background-color: rgb(164, 207, 207);
    box-sizing: border-box;
   
    
    width: 100vw;
    padding:50px;
}

div:nth-of-type(2){
    background-color: rgb(126, 243, 243);
    box-sizing: content-box;

    width: 100vw;
    padding:50px;
}

body{
    margin:0;
}