:root{
    font-size:18px;
}

div{
    outline: 3px solid #da48da;
    padding:10px;
    max-width: 300px;
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: rotate(50deg) skew(50deg);
    

}

p{
    background-color: aquamarine;
    padding:5px;
    min-width: 700px;
}
