
:root{
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

body{
    background-color: black;
}

#insta-body{
    width: 370px;
    height: 650px;
    background-color:rgb(241, 241, 241);

    display: flex;
    flex-direction: column;
    
    margin: auto;
    Margin-top: 15vh;
    
}

#top-thing{

    display:flex;
    flex-direction: row;

    
    
    
}

#pfp{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom:15px;

    background-color: black;


}

.bold{
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14pt;
}

.super-light{
    font-weight:200;
    font-size:6pt;
}

.light{
    font-size:10pt;
    
}

#name-location{
    margin-left: 10px;
}

#name{
    margin-bottom: -10px;
}

#three-dots{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    
}

.tre-dots{
    
    border-radius: 50%;
    background-color: black;
    width: 3px;
    height: 3px;
    display: flex;
    justify-content: space-between;

    margin-left: 5px;
    
}

#photo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 342px;
    height: 448px;

    margin-top: 20px;
    margin-left: 15px;
    
    margin:auto;

    background-color:rgb(121, 121, 121);

}

#like-share-stuff{
    display:flex;

    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    gap: 15px;


}

#like{
    width: 17px;
    height: 17px;
    background-color: black;

    
}

#comments{
    width: 17px;
    height: 17px;
    background-color: black;
}
    

#send{
    width: 17px;
    height: 17px;
    background-color: black;

    
}

#save{
    width: 17px;
    height: 17px;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;

   
    margin-left: auto;
    
}

.like-bar{

}





#bio {

    margin-left: 15px;
    margin-right: 15px;
}