/*
#ssn{
    color:  red;
}

#statusResult{
    color: blue;
    text-decoration: dashed;
    text-decoration-line: wavy;
    text-decoration-thickness: 4px;
}
*/
*{
    border: 1px;
    border-color:aquamarine;
    text-align:center;
}



.blue {
    color: blue;

}

.red {
    color: red;

}

.bold {
    font-weight: bold;
}

.italic{
    font-style:italic;
}

body{
    font-size: 19pt;
}


#paragraph{
    font-size: 12pt;
   
    background-color:rgb(67, 66, 66);
    width:560px; 
    height:auto;
    object-fit: contain;
    margin: 0 auto;
    object-position: center;
    color:rgb(233, 233, 233);
    margin-bottom: 15px;
    
}

.ryan{
    font-family: "aw-conqueror-std-stincilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.old{
    font-family: "brother-1816", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gothic{
    font-family: "gothicus-roman", serif;
    font-weight: 400;
    font-style: normal;
}

.pacific {
    font-family: "newshound", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alien{
    font-family: "vektra", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;

}

.head{
    font-family: "new-astro", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(0, 0, 0);
    color:rgb(233, 233, 233);
}

.title{
    background-color:rgb(67, 66, 66);
    width:560px; 
    height:auto;
    object-fit: contain;
    margin: 0 auto;
    object-position: center;
    color:rgb(233, 233, 233);
    margin-bottom: 15px;
    height: 60px
   
    
}