/* *{
    outline: 2px solid red;
    margin: auto;
}  */



#container{
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
}

#tb{
    display: flex;
}

#numbers {
   display: flex;
   flex-direction: column;
   
   
    margin:0;
    height:90vh;
    width: 5vh;

    color:white;
       
}

#numbers > div {
    
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 31, 92);    
    height:12.5%;
    align-items: CENTER;
    justify-content: center;
    
}

#letters {
    margin:0;
    width:90vh;
    display: flex;
    padding-left:10vh;
    max-width:85vh;
    height: 5vh;
    background-color: rgb(12, 31, 92);
    color: white;
    align-items: CENTER;
    justify-content: space-between;
    

}

#letters > div{
    width:12.5%
}

#chessboard{  /*actual board*/
    width: 90vh;
    aspect-ratio: 1/1;
    max-height: 90vh;
    max-width: 90vh;
    background-color: rgb(217, 148, 65);
    display: flex;
    flex-direction:column;
    background-color:red;
    margin: 0;
    
}

#chessboard > div{
    height:12.5%;
    display:flex;
    flex-direction: row;
    background-color: rgb(19, 47, 141);
      
}

#chessboard div div{  /*pieces in board*/
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:33.102938123pt;
    color:white;
    flex-grow: 1;
    width:12.5%
}

#chessboard div:nth-of-type(even) div:nth-of-type(even){
    background-color: rgb(122, 116, 223);
}

#chessboard div:nth-of-type(odd) div:nth-of-type(odd){
    background-color: rgb(122, 116, 223);
}

#chessboard div:nth-of-type(2) div:nth-of-type(3){
    background-color: rgb(200, 185, 247);
}



/* #chessboard div div:nth-of-type(even) {

    background-color: blueviolet;

} */

